.container {
  width: 100%;
  display: flex;
}

.filterBox {
  width: 15%;
  border: 1px solid blue;
}

.products {
  width: 80%;
  border: 1px solid red;
  margin-left: 15px;
  display: flex;
  flex-wrap: wrap;
}

.productsBox {
  width: 20rem;
  margin: 10px;
}

.imgBox {
  width: 20rem;
  height: 300px;
}

.imgBox img {
  max-width: 100%;
  max-height: 100%;
  align-items: center;
}